<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Création de l’évènement </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content class="event">
  <ion-card no-margin>
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>
          <ion-list margin-bottom>

            <ion-item>
               <ion-label color="dark" position="stacked">Titre : <span  style="color: red">*</span></ion-label>
              <ion-input inputmode="text"></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label color="dark" position="stacked">Description : <span  style="color: red">*</span></ion-label>
              <ion-textarea spellcheck="true" clearOnEdit="true" rows="6" cols="20" ></ion-textarea>
            </ion-item>
   

            <ion-item>
                <ion-label color="dark">Date debut : <span  style="color: red">*</span></ion-label>
                <ion-datetime display-format="DD MMM YYYY"></ion-datetime>
             </ion-item>

              <ion-item>
                <ion-label color="dark">Heure debut : <span  style="color: red">*</span></ion-label>
                <ion-datetime display-format="hh mm A"></ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label color="dark">Date Fin : <span  style="color: red">*</span></ion-label>
                <ion-datetime display-format="DD MMM YYYY"></ion-datetime>
             </ion-item>

              <ion-item>
                <ion-label color="dark">Heure Fin : <span  style="color: red">*</span></ion-label>
                <ion-datetime display-format="hh mm A"></ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label class="fw500" color="dark">Votre âge : <span  style="color: red">*</span></ion-label>
                <ion-select [(ngModel)]="age" (ionChange)="optionsFn();" multiple="true">
                  <ion-select-option>-18</ion-select-option>
                  <ion-select-option>+18</ion-select-option>
                </ion-select>
              </ion-item>
            
              <ion-item>
                <ion-label class="fw500" color="dark">Type d'activité : <span  style="color: red">*</span></ion-label>
                <ion-select [(ngModel)]="typeActivite" multiple="true" (ionChange)="optionsFn();">
                  <ion-select-option *ngFor="let item of ambiances" [value]="item.id">{{ item.ambiance }}</ion-select-option>
                </ion-select>
              </ion-item>
            
              <ion-item>
                <ion-label class="fw500" color="dark">Catégorie : <span  style="color: red">*</span></ion-label>
                <ion-select [(ngModel)]="categorie" multiple="true" (ionChange)="optionsFn();">
                  <ion-select-option *ngFor="let item of categories" [value]="item.id">{{ item.categorie }}</ion-select-option>
                </ion-select>
              </ion-item>
            
              <ion-item>
                <ion-label class="fw500" color="dark">Temps : <span  style="color: red">*</span></ion-label>
                <ion-select [(ngModel)]="temps"  multiple="true" (ionChange)="optionsFn();">
                  <ion-select-option>Matin</ion-select-option>
                  <ion-select-option>Midi</ion-select-option>
                  <ion-select-option>Soir</ion-select-option>
                </ion-select>
              </ion-item>

            <ion-item>
                <ion-label color="dark" position="stacked">Tel : <span  style="color: red">*</span></ion-label>
                <ion-input inputmode="text"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label  color="dark" position="stacked">Cellulaire : <span  style="color: red">*</span></ion-label>
                <ion-input inputmode="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label id="profile_image" color="dark" position="stacked">Image : </ion-label>
                <ion-input type="file" accept="image/*"></ion-input>
            </ion-item>

           <ion-item>
              <ion-label color="dark" position="stacked">Facebook</ion-label>
              <ion-input inputmode="text"></ion-input>
           </ion-item>

           <ion-item>
            <ion-label color="dark" position="stacked">Adresse : <span  style="color: red">*</span></ion-label>
            <ion-input inputmode="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="dark" position="stacked">Numero de rue : <span  style="color: red">*</span></ion-label>
            <ion-input inputmode="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="dark" position="stacked">ZIP : <span  style="color: red">*</span></ion-label>
            <ion-input inputmode="text"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label color="dark">Pays : <span  style="color: red">*</span></ion-label>
              <ion-select [(ngModel)]="idPays" (ionChange)="getProv(idPays);" placeholder="Selectionner un pays">
                <ion-select-option *ngFor="let item of pays" [value]="item.id">{{ item.pays }}</ion-select-option>
              </ion-select>
          </ion-item>
   
  
          <ion-item> 
              <ion-label color="dark">Province : <span  style="color: red">*</span></ion-label>
              <ion-select  placeholder="Selectionner une province" >
                <ion-select-option *ngFor="let item of provinces" [value]="item.id">{{ item.province }}</ion-select-option>
              </ion-select>
          </ion-item>

          <ion-item>
              <ion-label  color="dark" position="stacked">Ville : <span  style="color: red">*</span></ion-label>
              <ion-input inputmode="text"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label color="dark" position="stacked">Description adresse :</ion-label>
              <ion-textarea spellcheck="true" clearOnEdit="true" rows="6" cols="20"></ion-textarea>
          </ion-item>

          <ion-item>
              <ion-label color="dark" position="stacked">Email : <span  style="color: red">*</span></ion-label>
              <ion-input inputmode="text"></ion-input>
           </ion-item>

           <ion-item>
              <ion-label color="dark" position="stacked">Prix :</ion-label>
              <ion-input inputmode="text" value="0"></ion-input>
           </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button size="large" expand="full" color="dark" (click)="sendData()" tappable no-margin>Creer</ion-button>
  </ion-card>
</ion-content>
