<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Evenement</ion-title>
  </ion-toolbar>
 </ion-header>

<ion-content>

  <ion-card class="bg-white" no-margin>
    <div><img src="../../assets/img/event.jpeg" /></div>
    <div fixed no-padding>
        <div padding>
            <ion-card-title>Titre Evenement</ion-card-title>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum odio placeat incidunt nesciunt atque ratione quisquam, fugit
              omnis maxime adipisci excepturi dignissimos aliquam asperiores itaque unde sequi? Minus, quia, dolore?
            </p>
              <span><b><u>Tel :</u></b> -1 (506) 252 4675</span><br><br>
              <span><b><u>Email :</u></b> auBootlegger@gmail.com</span><br><br>
              <span><b><u>Adresse :</u></b> 570 university Drive, E2A 2W6, Bathurst</span>
        </div>
   </div>
  </ion-card>

</ion-content>
