<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Evenement</ion-title>
  </ion-toolbar>
 </ion-header>

<ion-content>

  <ion-card class="bg-white" no-margin>
    <div><img src="{{url}}" /></div>
    <div fixed no-padding>
        <div padding>
            <ion-card-title>{{eventData.titre}}</ion-card-title>
            <p>{{eventData.description}}</p>
            <span><b><u>Prix :</u></b> {{eventData.prix}}</span><br><br>
            <span><b><u>Tel :</u></b> {{eventData.telephone}} </span><br><br>
            <span><b><u>Email :</u></b> {{eventData.email}}</span><br><br>
            <span><b><u>Adresse :</u></b> {{eventData.numeroMaison}}, {{eventData.nomRue}}</span><br><br>
            <span><b><u>Facebook :</u></b> {{eventData.lienFacebook}}</span>
        </div>
   </div>
  </ion-card>

</ion-content>
